:root {

  --text-bg-color: #ececec;
}

.mg-15 {
  margin: 0 10px;
}

/* Login */

/* Recipes */

/* RecipeDetails & RecipeInProgress */
.recipe-photo {
  height: 25vh;
  overflow: hidden;
}

.recipe-photo > img {
  position: relative;
  top: -50%;
  width: 100%;
}

.recipe-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.recipe-title input {
  margin: 0 10px;
}

ol {
  background-color: var(--text-bg-color);
  border-radius: 5px;
  list-style: none;
  padding: 15px 0 10px 10px;
}

li > label {
  display: grid;
  font-size: 1.2em;
  gap: 0 0.5em;
  grid-template-columns: 2em auto;
}

.instructions {
  background-color: var(--text-bg-color);
  border-radius: 5px;
  max-height: calc(90vh - (1.75rem + 3em + 30px));
  margin: 0 10px 80px;
  overflow: scroll;
  padding: 5px;
}

.video-container {
  height: 0;
  margin-top: -70px;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.video-container iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.recomendation-container {
  display: flex;
  margin-bottom: calc(65px + 10px);
  overflow: scroll;
  width: 100vw;
}

.recomendation-card input {
  margin: 0 5px;
  width: calc(50vw - (5px * 2));
}

.recomendation-card p {
  margin-bottom: 5px;
  text-align: center;
}

.recipe-btn {
  background-color: rgb(108, 227, 79);
  border: none;
  border-radius: 15px;
  bottom: 0;
  font-size: 2em;
  font-weight: 500;
  margin: 10px 5px;
  padding: 5px 0;
  position: fixed;
  width: calc(100% - 10px);
}

.recipe-btn:disabled {
  background-color: #c4c4c4;
}

/* Profile */

/* Trybe */
.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
