:root {

  --text-bg-color: #ececec;
}

.mg-15 {
  margin: 0 10px;
}

/* Login */
.login-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Yeseva One , cursive;
  height: 100vh;
  justify-content: center;
}

.img-cnt img {
  border-radius: 5px;
  width: 80vw;
}

.title-cnt h1 {
  color: #3d3c42;
}

.form-cnt form {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  padding: 20px;
}

.form-cnt input {
  background-color: white;
  border-color: white;
  border-radius: 11px;
  border-style: solid;
  border-width: 0;
  box-shadow: 0 0 2px rgba(66, 66, 66, 0.4);
  color: black;
  margin-bottom: 2vh;
  padding: 4px;
}

.form-cnt button {
  background-color: #a6d1e6;
  border-color: white;
  border-radius: 11px;
  border-style: solid;
  border-width: 0;
  box-shadow: 0 0 2px rgba(66, 66, 66, 0.4);
  color: #3d3c42;
  padding: 4px;
}

/* Header */
.header-ctn {
  display: flex;
  flex-direction: column;
}

.profile-cnt {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.title-ctn h1 {
  display: flex;
  font-family: Yeseva One , cursive;
  justify-content: center;
}

.search-ctn {
  align-items: center;
  background-color: #f6fbf4;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-ctn button, .categories-ctn button, .footer-ctn button {
  background-color: #a6d1e6;
  border-color: white;
  border-style: solid;
  border-width: 0;
  box-shadow: 0 0 2px rgba(66, 66, 66, 0.4);
  color: #3d3c42;
}

.searchbar-ctn {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 95vw;
}

.searchbar-ctn button {
  margin-left: 5px;
}

.searchbar-ctn input {
  margin: 0 2px 0 5px;
}

.input-bars-ctn {
  height: 8vh;
}

/* Recipes */
.categories-ctn {
  background-color: #f6fbf4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-ctn button {
  margin: 0 2px 15px 5px;
}

.recipes-card-ctn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.recipes-card-ctn img {
  border-radius: 50%;
  width: 23vw;
}

.recipe-card {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.recipe-card p {
  margin-left: 20px;
}

/* RecipeDetails & RecipeInProgress */
.recipe-photo {
  height: 25vh;
  overflow: hidden;
}

.recipe-photo > img {
  position: relative;
  top: -50%;
  width: 100%;
}

.recipe-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.recipe-title input {
  margin: 0 10px;
}

ol {
  background-color: var(--text-bg-color);
  border-radius: 5px;
  list-style: none;
  padding: 15px 0 10px 10px;
}

li > label {
  display: grid;
  font-size: 1.2em;
  gap: 0 0.5em;
  grid-template-columns: 2em auto;
}

.instructions {
  background-color: var(--text-bg-color);
  border-radius: 5px;
  margin: 0 10px 80px;
  max-height: calc(90vh - (1.75rem + 3em + 30px));
  overflow: scroll;
  padding: 5px;
}

.video-container {
  height: 0;
  margin-top: -70px;
  padding-bottom: 56.25%;

  /* 16:9 */
  position: relative;
}

.video-container iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.recomendation-container {
  display: flex;
  margin-bottom: calc(65px + 10px);
  overflow: scroll;
  width: 100vw;
}

.recomendation-card input {
  margin: 0 5px;
  width: calc(50vw - (5px * 2));
}

.recomendation-card p {
  margin-bottom: 5px;
  text-align: center;
}

.recipe-btn {
  background-color: rgb(108, 227, 79);
  border: none;
  border-radius: 15px;
  bottom: 0;
  font-size: 2em;
  font-weight: 500;
  margin: 10px 5px;
  padding: 5px 0;
  position: fixed;
  width: calc(100% - 10px);
}

.recipe-btn:disabled {
  background-color: #c4c4c4;
}

/* Profile */

/* Done Recipes */
.done-recipes-cnt img {
  width: 50vw;
}

/* Footer */
.footer-ctn {
  align-items: center;
  background-color: #a6d1e6;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.footer-ctn button {
  background-color: #a6d1e6;
  box-shadow: none;
  padding: 5px;
}

.footer-ctn p {
  color: black;
  font-family: Yeseva One , cursive;
  margin: 0 auto;
}

/* Trybe */
.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
